header .row > div:nth-child(1) > a {
    content: url(https://gitlab.com/UseOnlyForFileHosting/tgd-design/-/raw/382ea15a99d877ba2bc944efa55d0c29356ca4a4/resources/image/%EC%AE%B8%EA%B2%8C%EB%8D%94.png);
    filter: drop-shadow(5px 5px 1px rgba(0,0,0,1));
    margin-bottom: -4px;
    width: 40%;
    height: 40%;
}

img[src="https://static-cdn.jtvnw.net/badges/v1/3267646d-33f0-4b17-b3df-f923a41db1d0/1"] { display: none; }
